# 1. LibrerÃ­as

In [13]:
import sys
from pathlib import Path
project_root = Path().resolve().parents[0]
sys.path.append(str(project_root / 'src'))

In [17]:
import pandas as pd
from src.mappings import load_mappings, apply_mappings

ModuleNotFoundError: No module named 'src'

In [4]:
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)

# 2. Lectura de datos

In [5]:
df = pd.read_csv('../data/diabetic_data.csv')
df.head()

/var/folders/yv/6qc3rvd15552snnj273hstmr0000gn/T/ipykernel_37345/1546355382.py:1: DtypeWarning: Columns (3,4,7,10,17,22,27,28,29,30,31,33,37,41,54) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../data/diabetic_data.csv')

,diag_1,glyburide,race,number_inpatient,out,acarbose,glyburide-metformin_2,number_diagnoses,metformin-rosiglitazone,chlorpropamide,time_in_hospital,A1Cresult,examide,diag_2,tolazamide,citoglipton,payer_code_2,US,miglitol,name,gender,change,encounter_id,glipizide,metformin-pioglitazone_2,glipizide-metformin,glimepiride,num_lab_procedures,num_medications,admission_source_id,number_emergency,patient_nbr,metformin-pioglitazone,num_procedures,acetohexamide,max_glu_serum,payer_code,admission_type_id,insulin,repaglinide,nateglinide,discharge_disposition_id,age,medical_specialty,troglitazone_2,rosiglitazone,glimepiride-pioglitazone,weight,diabetesMed,pioglitazone,troglitazone,diag_3,glyburide-metformin,readmitted,number_outpatient,tolbutamide,metformin
0,250.83,No,Caucasian,0,NaN,No,No,1,No,No,1,NaN,No,?,No,No,?,1,No,name,Female,No,2278392,No,No,No,No,41,1,1,0,8222157,No,0,No,NaN,?,6,No,No,No,25,[0-10),Pediatrics-Endocrinology,No,No,No,?,No,No,No,?,No,NO,0,No,No
1,276,No,Caucasian,0,NaN,No,No,9,No,No,3,NaN,No,250.01,No,No,?,1,No,name,Female,Ch,149190,No,No,No,No,59,18,7,0,55629189,No,0,No,NaN,?,1,Up,No,No,1,[10-20),?,No,No,No,?,Yes,No,No,255,No,>30,0,No,No
2,648,No,AfricanAmerican,1,NaN,No,No,6,No,No,2,NaN,No,250,No,No,?,1,No,name,Female,No,64410,Steady,No,No,No,11,13,7,0,86047875,No,5,No,NaN,?,1,No,No,No,1,[20-30),?,No,No,No,?,Yes,No,No,V27,No,NO,2,No,No
3,8,No,Caucasian,0,NaN,No,No,7,No,No,2,NaN,No,250.43,No,No,?,1,No,name,Male,Ch,500364,No,No,No,No,44,16,7,0,82442376,No,1,No,NaN,?,1,Up,No,No,1,[30-40),?,No,No,No,?,Yes,No,No,403,No,NO,0,No,No
4,197,No,Caucasian,0,NaN,No,No,5,No,No,1,NaN,No,157,No,No,?,1,No,name,Male,Ch,16680,Steady,No,No,No,51,8,7,0,42519267,No,0,No,NaN,?,1,Steady,No,No,1,[40-50),?,No,No,No,?,Yes,No,No,250,No,NO,0,No,No

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 223534 entries, 0 to 223533
Data columns (total 57 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   diag_1                    223534 non-null  object
 1   glyburide                 223534 non-null  object
 2   race                      223534 non-null  object
 3   number_inpatient          223534 non-null  object
 4   out                       3 non-null       object
 5   acarbose                  223534 non-null  object
 6   glyburide-metformin_2     223534 non-null  object
 7   number_diagnoses          223534 non-null  object
 8   metformin-rosiglitazone   223534 non-null  object
 9   chlorpropamide            223534 non-null  object
 10  time_in_hospital          223534 non-null  object
 11  A1Cresult                 37315 non-null   object
 12  examide                   223534 non-null  object
 13  diag_2                    223534 non-null  object
 14  tolazamide                223534 non-null  object
 15  citoglipton               223534 non-null  object
 16  payer_code_2              223534 non-null  object
 17  US                        223534 non-null  object
 18  miglitol                  223534 non-null  object
 19  name                      223534 non-null  object
 20  gender                    223534 non-null  object
 21  change                    223534 non-null  object
 22  encounter_id              223534 non-null  object
 23  glipizide                 223534 non-null  object
 24  metformin-pioglitazone_2  223534 non-null  object
 25  glipizide-metformin       223534 non-null  object
 26  glimepiride               223534 non-null  object
 27  num_lab_procedures        223534 non-null  object
 28  num_medications           223534 non-null  object
 29  admission_source_id       223534 non-null  object
 30  number_emergency          223534 non-null  object
 31  patient_nbr               223534 non-null  object
 32  metformin-pioglitazone    223534 non-null  object
 33  num_procedures            223534 non-null  object
 34  acetohexamide             223534 non-null  object
 35  max_glu_serum             11748 non-null   object
 36  payer_code                223534 non-null  object
 37  admission_type_id         223534 non-null  object
 38  insulin                   223534 non-null  object
 39  repaglinide               223534 non-null  object
 40  nateglinide               223534 non-null  object
 41  discharge_disposition_id  223534 non-null  object
 42  age                       223534 non-null  object
 43  medical_specialty         223534 non-null  object
 44  troglitazone_2            223534 non-null  object
 45  rosiglitazone             223534 non-null  object
 46  glimepiride-pioglitazone  223534 non-null  object
 47  weight                    223534 non-null  object
 48  diabetesMed               223534 non-null  object
 49  pioglitazone              223534 non-null  object
 50  troglitazone              223534 non-null  object
 51  diag_3                    223534 non-null  object
 52  glyburide-metformin       223534 non-null  object
 53  readmitted                223534 non-null  object
 54  number_outpatient         223534 non-null  object
 55  tolbutamide               223534 non-null  object
 56  metformin                 223534 non-null  object
dtypes: object(57)
memory usage: 97.2+ MB

In [9]:
ids = pd.read_csv('../data/IDS_mapping.csv')
ids.head(50)

,admission_type_id,description
0,1,Emergency
1,2,Urgent
2,3,Elective
3,4,Newborn
4,5,Not Available
5,6,NaN
6,7,Trauma Center
7,8,Not Mapped
8,NaN,NaN
9,discharge_disposition_id,description
10,1,Discharged to home
11,2,Discharged/transferred to another short term h...
12,3,Discharged/transferred to SNF
13,4,Discharged/transferred to ICF
14,5,Discharged/transferred to another type of inpa...
15,6,Discharged/transferred to home with home healt...
16,7,Left AMA
17,8,Discharged/transferred to home under care of H...
18,9,Admitted as an inpatient to this hospital
19,10,Neonate discharged to another hospital for neo...
20,11,Expired
21,12,Still patient or expected to return for outpat...
22,13,Hospice / home
23,14,Hospice / medical facility
24,15,Discharged/transferred within this institution...
25,16,Discharged/transferred/referred another instit...
26,17,Discharged/transferred/referred to this instit...
27,18,NaN
28,19,"Expired at home. Medicaid only, hospice."
29,20,"Expired in a medical facility. Medicaid only, ..."
30,21,"Expired, place unknown. Medicaid only, hospice."
31,22,Discharged/transferred to another rehab fac in...
32,23,Discharged/transferred to a long term care hos...
33,24,Discharged/transferred to a nursing facility c...
34,25,Not Mapped
35,26,Unknown/Invalid
36,30,Discharged/transferred to another Type of Heal...
37,27,Discharged/transferred to a federal health car...
38,28,Discharged/transferred/referred to a psychiatr...
39,29,Discharged/transferred to a Critical Access Ho...
40,NaN,NaN
41,admission_source_id,description
42,1,Physician Referral
43,2,Clinic Referral
44,3,HMO Referral
45,4,Transfer from a hospital
46,5,Transfer from a Skilled Nursing Facility (SNF)
47,6,Transfer from another health care facility
48,7,Emergency Room
49,8,Court/Law Enforcement